<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="sb:uri" value="sb://sbinstance.servicebus.windows.net"/>
      <add key="sb:sas:keyName" value="RootManageSharedAccessKey"/>
      <add key="sb:sas:sharedAccessKey" value="cL/7/8xYfcpOjmfDTgUOE5PDf6x7wtbPc+jJRgslpvc="/>
    </appSettings>
</configuration>
